.container {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.image {
  transition: opacity 1s ease-in-out, transform 1s ease, top 1s ease,
    left 1s ease;
  opacity: 1;
  filter: alpha(opacity=1);
}

.transparency {
  opacity: 0;
  filter: alpha(opacity=0);
}

.img {
  transition: transform 1s ease;
}
/* 
.zoomin {
  transform: scale(3.2);
} */

.imgcontainer {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
